<html>
    <head>
        <title>Image Compresssor</title>
        <link rel = "stylesheet" href="/static/styles.css">
        <script src = "/static/script.js" defer></script>
    </head>
    <body>
        <form class = "sub" action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" accept="image/jpg" name="file"><br>
    <button class = "filled" type="submit">upload</button>
    </form>
        <a class = "down" href = "static/compressed.jpg">Download</a>
    </body>
</html>