body{
    display:grid;
    place-items:center;
     font-family: "Archivo Black", sans-serif;
    font-weight: 200;
    font-style: normal;
}
form{
    display: grid;
    place-items: center;
    border: 0px solid black;
     font-family: "Inter";
}
input{
    display: grid;
    padding: 20px;
    place-items: center;
    border: 1px solid black;
    border-radius: 10px;
     font-family: "Inter";
}
.filled{
    margin: 20px;  
    padding: 10px; 
    border: 0px solid black;
    font-family: "Archivo Black", sans-serif;
    font-weight: 10;
    font-style: normal;
    text-decoration: none;
}
.filled:hover{
    cursor: pointer;
}
.down{
    display: none;
         font-family: "Archivo Black", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;

    
}